* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Judul {
  align-items: flex-end;
}

.linbac {
  background: linear-gradient(180deg, #ffeedd 0%, #b8b8ff 100%);
}
.linbac2 {
  background: linear-gradient(180deg, #b8b8ff 10%, #ffffff 100%);
}
.linbac3 {
  background: linear-gradient(180deg, #ffffff 100%, #ffeedd 0%);
}

.Melayang {
  position: fixed;
  z-index: 3;
}

.App {
  border-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.Link{
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 9px;
}

.Navigasi{
  position: absolute;
  z-index: 3;
}

